@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
}

html,
body {
  font-family: "Space Grotesk", sans-serif;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

label {
  text-transform: uppercase;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  cursor: pointer;
}

.background-image {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 27%;
}

/* Card section */
.card-section {
  margin: 150px 0 0 9%;
  position: absolute;
}

.card__front {
  background-image: url(/images/bg-card-front.png);
  background-repeat: no-repeat;
  height: 245px;
  width: 447px;
  border-radius: 10px;
  box-shadow: 0px 5px 55px 0px rgba(0, 0, 0, 0.5);
  color: white;
}

.front-logo {
  padding-left: 25px;
  padding-top: 25px;
}

.front-number {
  display: flex;
  justify-content: center;
  font-size: 28px;
  letter-spacing: 0.2rem;
  padding-top: 60px;
  padding-bottom: 20px;
}

.front-name {
  padding-left: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.front-date {
  padding-left: 180px;
}

.card__back {
  background-image: url(/images/bg-card-back.png);
  background-repeat: no-repeat;
  height: 245px;
  width: 447px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 100px;
  box-shadow: 0px 5px 55px 0px rgba(0, 0, 0, 0.5);
}

.back-cvc {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 50px;
  padding-top: 110px;
  letter-spacing: 0.2rem;
}

/* Inpur section */
.input-section {
  color: black;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30%;
  padding-top: 220px;
}

.input__title {
  font-size: 14px;
}

.long-input {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 8px 110px 8px 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-size: 18px;
}

.short-input {
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 30px;
  margin-right: 5px;
  font-size: 18px;
}

.date-title {
  width: 205px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cvc-section {
  margin-left: 15px;
  padding: 10px;
  width: 155px;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-size: 18px;
}

.btn {
  margin-top: 40px;
  padding: 10px 145px;
  border-radius: 10px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  font-size: 16px;
}
