@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
}

html,
body {
  font-family: "Space Grotesk", sans-serif;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

label {
  text-transform: uppercase;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  cursor: pointer;
  outline: none;
}

.background__image {
  display: block;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 27%;
}

.background__image-mobile {
  display: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 40%;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

/* Card section */
.card-section {
  margin: 150px 0 0 9%;
  position: absolute;
}

.card__front {
  background-image: url(./../images/bg-card-front.png);
  background-repeat: no-repeat;
  height: 245px;
  width: 447px;
  border-radius: 10px;
  box-shadow: 0px 5px 55px 0px rgba(0, 0, 0, 0.5);
  color: white;
}

.front-logo {
  padding-left: 25px;
  padding-top: 25px;
}

.front-number {
  display: flex;
  justify-content: center;
  font-size: 28px;
  letter-spacing: 0.2rem;
  padding-top: 60px;
  padding-bottom: 20px;
}

.front-name {
  padding-left: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.front-date {
  padding-left: 250px;
}

.card__back {
  background-image: url(./../images/bg-card-back.png);
  background-repeat: no-repeat;
  height: 245px;
  width: 447px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 100px;
  box-shadow: 0px 5px 55px 0px rgba(0, 0, 0, 0.5);
}

.back-cvc {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 50px;
  padding-top: 110px;
  letter-spacing: 0.2rem;
}

/* Inpur section */
.input__error {
  color: red;
  margin-bottom: 15px;
  font-size: 15px;
}

.error-active {
  display: inline-block;
}

.error-inactive {
  display: none;
}

.error__bottom {
  display: flex;
  margin-top: 10px;
  width: 285px;
  justify-content: space-between;
}

.input-section {
  color: black;
  margin-left: 55%;
  padding-top: 220px;
  width: 355px;
}

.input__title {
  font-size: 14px;
}

.long-input {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 110px 8px 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-size: 18px;
}

.short-input {
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 30px;
  margin-right: 5px;
  font-size: 18px;
}

.date-title {
  width: 205px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cvc-section {
  margin-left: 15px;
  padding: 10px;
  width: 155px;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-size: 18px;
}

.btn {
  margin-top: 20px;
  padding: 10px 145px;
  border-radius: 10px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(278, 70%, 24%);
  transition: all 0.2s ease-in;
}

/* Success section */
.success-section {
  color: black;
  margin-left: 55%;
  padding-top: 220px;
  width: 350px;
}

.success__img {
  display: flex;
  width: 80px;
  margin: 0 auto;
}

.success__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 42px;
  display: flex;
  justify-content: center;
  margin: 40px 0 20px;
}

.success__subtitle {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 30px;
}

/* Adaptive width */
@media (max-width: 1600px) {
  .success-section {
    margin-left: 60%;
  }

  .card-section {
    margin-left: 5%;
  }
}

@media (max-width: 1150px) {
  .background__image {
    display: none;
  }

  .background__image-mobile {
    display: block;
  }

  .input-section {
    margin: 0 auto;
  }

  .success-section {
    margin: 0 auto;
    padding-top: 500px;
  }

  .form {
    width: 355px;
    margin: 260px auto 100px;
  }

  .card-section {
    margin: 0;
  }

  .card__back {
    margin-top: 40px;
    margin-left: 40vw;
  }

  .card__front {
    position: absolute;
    z-index: 2;
    top: 175px;
    left: 20vw;
  }
}

@media (max-width: 850px) {
  .card__back {
    margin-left: 25vw;
  }

  .card__front {
    position: absolute;
    z-index: 2;
    top: 175px;
    left: 10vw;
  }

  .success-section {
    padding-top: 500px;
  }
}

@media (max-width: 650px) {
  .background__image-mobile {
    height: 30%;
  }

  .form {
    width: 280px;
    margin: 160px auto 80px;
  }

  .long-input {
    padding: 8px 36px 8px 10px;
  }

  .short-input {
    padding: 10px 20px 10px 10px;
  }

  .cvc-section {
    width: 100px;
  }

  .error__bottom {
    width: 265px;
  }

  .btn {
    padding: 10px 108px;
  }

  .input-section {
    width: 290px;
  }

  .success-section {
    padding-top: 400px;
    width: 290px;
  }

  .success__img {
    width: 60px;
  }

  .success__title {
    font-size: 32px;
  }

  .success__subtitle {
    font-size: 18px;
  }

  .card__front {
    background-image: url(/images/bg-card-front-mobile.png);
    width: 280px;
    height: 153px;
    top: 150px;
    left: 15vw;
  }

  .front-logo {
    width: 48px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .front-number {
    font-size: 16px;
    padding-top: 35px;
  }

  .front-name {
    padding-left: 20px;
    font-size: 12px;
  }

  .front-date {
    padding-left: 150px;
  }

  .card__back {
    background-image: url(/images/bg-card-back-mobile.png);
    width: 280px;
    height: 153px;
    margin-left: 35vw;
  }

  .back-cvc {
    padding-right: 30px;
    padding-top: 65px;
  }
}

@media (max-width: 480px) {
  .background__image-mobile {
    height: 25%;
  }

  .card__back {
    margin-left: 16vw;
  }

  .card__front {
    left: 10vw;
  }
}

@media (max-width: 375px) {
  .card__back {
    margin-left: 6vw;
  }

  .card__front {
    left: 3vw;
  }
}

/* Adaptive height */
@media (max-height: 750px) {
  .card-section {
    margin: 100px 0 0 5%;
  }

  .card__back {
    margin-top: 25px;
  }

  .input-section {
    padding-top: 130px;
  }
}

@media (max-height: 750px) and (max-width: 1150px) {
  .card-section {
    margin: 20px 0 0 5%;
  }
  
  .input-section {
    padding-top: 250px;
  }

  .card__back {
    margin-left: 30vw;
  }

  .card__front {
    left: 15vw;
  }
}

@media (max-height: 750px) and (max-width: 850px) {
  .card__back {
    margin-left: 20vw;
  }

  .card__front {
    left: 5vw;
  }
}

@media (max-height: 750px) and (max-width: 650px) {
  .card__back {
    margin-left: 25vw;
  }

  .card__front {
    left: 10vw;
  }
}

@media (max-height: 750px) and (max-width: 480px) {
  .card__back {
    margin-left: 10vw;
  }

  .card__front {
    left: 2vw;
  }
}

@media (max-height: 750px) and (max-width: 480px) {
  .card__back {
    margin-left: 0;
  }

  .card__front {
    left: 0;
  }
}